/admin_ui/report_admin_ui/node_modules
/admin_ui/report_admin_ui/.angular
/admin_ui/report_admin_ui/.vscode
/back_end/MindEarth/.vs
/back_end/MindEarth/MindEarth.Database/bin/Debug/net8.0
/back_end/MindEarth/MindEarth.Web/bin/Debug/net8.0
/back_end/MindEarth/MindEarth.Database/obj
/next-js-front-end/node_modules
/next-js-front-end/.next
/next-js-front-end/.vscode
*.md