/admin_ui/report_admin_ui/node_modules
/admin_ui/report_admin_ui/.angular
/admin_ui/report_admin_ui/.vscode
/back_end/MindEarth/.vs
/back_end/MindEarth/MindEarth.Database/bin/Debug/net8.0
/back_end/MindEarth/MindEarth.Web/bin/Debug/net8.0
/back_end/MindEarth/MindEarth.Database/obj
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/EndpointInfo/MindEarth.Web.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/ref/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/refint/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/ApiEndpoints.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/apphost.exe
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.AssemblyInfo.cs
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.AssemblyInfoInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.assets.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.AssemblyReference.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.CoreCompileInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.FileListAbsolute.txt
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.pdb
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.sourcelink.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/rpswa.dswa.cache.json
/back_end/MindEarth/MindEarth.Web/obj/MindEarth.Web.csproj.nuget.dgspec.json
/back_end/MindEarth/MindEarth.Web/obj/project.assets.json
/back_end/MindEarth/MindEarth.Web/obj/
/back_end/MindEarth/MindEarth.Web/obj/
/back_end/MindEarth/MindEarth.Web/obj/
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0
/back_end/MindEarth/MindEarth.Web/uploaddata/reports
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/EndpointInfo/MindEarth.Web.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/ref/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/refint/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/apphost.exe
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.AssemblyInfo.cs
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.AssemblyInfoInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.AssemblyReference.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.CoreCompileInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.pdb
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/EndpointInfo/MindEarth.Web.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/ref/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/refint/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/apphost.exe
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.AssemblyInfo.cs
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.AssemblyInfoInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.AssemblyReference.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.CoreCompileInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.pdb
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/EndpointInfo/MindEarth.Web.json
/back_end/MindEarth/MindEarth.Web/bin/
/back_end/publish/
/back_end/MindEarth/MindEarth.Web/obj/
/back_end/MindEarth/MindEarth.Web/obj/
/back_end/MindEarth/MindEarth.Web/obj/project.nuget.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.BuildWithSkipAnalyzers
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/EndpointInfo/MindEarth.Web.OpenApiFiles.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.AssemblyInfoInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.assets.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.AssemblyReference.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.csproj.CoreCompileInputs.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.genruntimeconfig.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/MindEarth.Web.MvcApplicationPartsAssemblyInfo.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/staticwebassets.build.json.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/swae.build.ex.cache
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/ref/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/ref/MindEarth.Web.dll
/back_end/MindEarth/MindEarth.Web/obj/Debug/net8.0/ref/MindEarth.Web.dll
/admin_ui/report_admin_ui/dist/
