<div class="card-body mb-6">
    <app-tool-bar [buttons]="buttons" (clickEvent)="clickCommand($event);"></app-tool-bar>
</div>

<div class="row">
    <div class="col-12">
        <app-list-page-filter [json]="'category-filter.json'"
            (serachEvent)="searchCommand($event);"></app-list-page-filter>
    </div>
</div>

<div class="card mb-6">
    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <h5>List Of Categories</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 2vw;">#</th>
                            <th>Category Name</th>
                            <th>Status</th>
                            <th style="width: 2vw;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of categories; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.isActive?'Active':'Blocked'}}</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="icon-base bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"
                                            (click)="editCommand(data);"><i class="icon-base bx bx-edit-alt me-1"></i>
                                            Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"
                                            (click)="deleteCommand(data);"><i class="icon-base bx bx-trash me-1"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>